[mysqld]
# 启用 binlog 事务压缩
binlog_transaction_compression = ON
# 保留 2 天（172800 秒）
binlog_expire_logs_seconds = 172800
bind-address = 0.0.0.0
user=root
character-set-server=utf8mb4
lower_case_table_names=1
sql_mode=STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO

[client]
default-character-set=utf8mb4
[mysql]
default-character-set=utf8mb4
